body, html{
     margin:0;
     padding:0;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     background-color: #272D2D 
}
 .fontStyle{
     font-weight:300;
     font-family:Roboto,sans-serif;
     color: #fff 
}
 .fontStyle h1,.fontStyle h2{
     font-weight:300;
     font-family:Raleway,sans-serif;
     color: #fff 
}
 .textPosition{
     -webkit-font-smoothing:antialiased;
     line-height:1.5 
}
 .textPosition h1:first-child,.textPosition h2:first-child{
     margin-top:0 
}
 .textPosition h1:last-child,.textPosition h2:last-child{
     margin-bottom:0 
}
 .textPosition p{
     margin:0 
}
 .textPosition h1{
     font-size:36px;
     line-height:48px 
}
 .textPosition .text-align-center{
     text-align:center 
}
 .textPositionContent{
     max-width:730px;
     margin:0 auto 
}
 .lineSpace{
     overflow-wrap:break-word;
     word-wrap:break-word;
     word-break:break-word;
     width:100%;
     padding:20px 0;
     box-sizing:border-box 
}
